<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="text" th:field="*{games_played}"
       class="form-control mb-4 col-4" placeholder="Games Played">

<input type="text" th:field="*{goals}"
       class="form-control mb-4 col-4" placeholder="Goals">

<input type="text" th:field="*{assists}"
       class="form-control mb-4 col-4" placeholder="Assists">

<input type="text" th:field="*{points}"
       class="form-control mb-4 col-4" placeholder="points">

<input type="text" th:field="*{plus_minus}"
       class="form-control mb-4 col-4" placeholder="plus/minus">

<input type="text" th:field="*{shots}"
       class="form-control mb-4 col-4" placeholder="shots">

<input type="text" th:field="*{wins}"
       class="form-control mb-4 col-4" placeholder="wins">

<input type="text" th:field="*{losses}"
       class="form-control mb-4 col-4" placeholder="losses">

<input type="text" th:field="*{overtime_losses}"
       class="form-control mb-4 col-4" placeholder="OT Losses">

<input type="text" th:field="*{save_percentage}"
       class="form-control mb-4 col-4"
       placeholder="Save Percentage">

<input type="text" th:field="*{goals_against_average}"
       class="form-control mb-4 col-4" placeholder="GAA">

<input type="text" th:field="*{saves}"
       class="form-control mb-4 col-4" placeholder="Saves">

<input type="text" th:field="*{shots_against}"
       class="form-control mb-4 col-4" placeholder="Shots Against">

<input type="text" th:field="*{goals_against}"
       class="form-control mb-4 col-4" placeholder="Goals Against">

</body>
</html>