<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hockey Statistics</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/main.css}" />
</head>
<body class="is-preload">

<!-- Nav -->
<nav id="nav">
    <ul class="container">
        <li><a th:href="@{/players/home}">Home</a></li>
        <li><a th:href="@{/players/bracket}">Bracket</a></li>
        <li><a th:href="@{/players/scores}">Scores</a></li>
        <li><a th:href="@{/players/sign-up}">Sign Up</a></li>
        <li><a th:href="@{/players/list}">Player List</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>

<!-- Home -->
<article id="top" class="wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-4 col-5-large col-12-medium">
                <span class="image fit"><img th:src="@{/images/NHL-logo.png}"
                                             alt="" /></span>
            </div>
            <div class="col-8 col-7-large col-12-medium">
                <header>
                    <h1>Welcome to my NHL website.</h1>
                </header>
                <p>Ever since I was a kid, I've been obsessed with sports. I
                loved the NCAA Men's Basketball Tournament and wanted to see
                the NHL do something similar. The problem was, there weren't
                enough teams to do a proper tournament. There would always
                    end up being an odd number of teams left. That is until
                    the Seattle Kraken were introduced. <br>
                    This website is dedicated to the 32 team NHL tournament I
                    played in NHL 22. If you click the bracket link, you will
                    see how the tournament went. If you click the scores
                    link, you'll see the scores for every single game that
                    was played. Soon I will add the stats of all the players
                    in the tournament, but for now you can enter your own
                    players and stats by clicking the Player List link!
                </p>
                <a href="https://github.com/CodingComrade" class="button large scrolly">Check out
                    my GitHub for other projects!</a>
            </div>
        </div>
    </div>
</article>

</body>
</html>