<!Doctype HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player Directory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>
    <h3>Player Directory</h3>
    <hr>

    <a th:href="@{/players/playerForm}"
            class="btn btn-primary btn-sm mb-3">
        Add Player
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="tempPlayer : ${players}">
                <td th:text="${tempPlayer.name}"></td>
                <td th:text="${tempPlayer.team}"></td>
                <td>
                    <a
                            th:href="@{/players/showFormForUpdate(playerId=${tempPlayer.id})}"
                            class="btn btn-info btn-sm">
                        Update
                    </a>

                    <a
                            th:href="@{/players/delete(playerId=${tempPlayer.id})}"
                            class="btn btn-danger btn-sm"
                            onclick="if (!(confirm('Are you sure you want to delete this player?'))) return false">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/players/test}">Check the test</a>
    <select>
        <option value="0">Select Player</option>
        <option th:each="tempPlayer : ${players}"
                th:value="${tempPlayer.name}"
                th:text="${tempPlayer.name}"></option>
    </select>
</body>
</html>