<!Doctype HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player Directory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>
<h3>Player Directory</h3>
<hr>

<a th:href="@{/players/showFormForAdd}"
   class="btn btn-primary btn-sm mb-3">
    Add Player
</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempPlayer : ${players}">
        <td th:text="${tempPlayer.name}"></td>
        <td th:text="${tempPlayer.team}"></td>
        <td>

            <a
                    th:href="@{'/players/showFormForUpdate/' + ${tempPlayer.id}}">
                <input type="hidden" th:value="${tempPlayer.id}"
                       name="tempPlayer.id">
                <input type="submit" value="Update"
                       class="btn btn-danger btn-sm">
            </a>

            <form
                    th:action="@{/players/delete/{id}(id=${tempPlayer.id})}" method="post">
                <input type="hidden" th:value="${tempPlayer.id}"
                       name="tempPlayer.id">
                <input type="submit" value="Delete"
                       class="btn btn-danger btn-sm">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/players/home}">Check the home</a>
<select>
    <option value="0">Select Player</option>
    <option th:each="tempPlayer : ${players}"
            th:value="${tempPlayer.name}"
            th:text="${tempPlayer.name}"></option>
</select>
</body>
</html>