<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<div class="content">

    <h3 class="page-header">Login</h3>

    <form th:action="@{/players/login}" method="post" class="centered">
        <label path="username">Username: </label>
        <input type="text" name="username" />

        <label path="password">Password: </label>
        <input type="text" name="password" />

        <input type="submit" value="Login" />

    </form>

    <a th:href="@{/players/sign-up}" class="centered">Create New Account</a>

</div>

</body>
</html>