<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hockey Statistics</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/scores.css}" />
    <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow”
          integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
</head>
<body>
<nav id="nav">
    <ul class="container">
        <li><a th:href="@{/players/home}">Home</a></li>
        <li><a th:href="@{/players/bracket}">Bracket</a></li>
        <li><a href="scores.html">Scores</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="signup.html">Sign Up</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="list-players.html">Player List</a></li>
    </ul>
</nav>

<div class="header">
    <span>Western Conference Round 1</span>
</div>
<button class="collapsible">1 Colorado Avalanche vs 16 Arizona Coyotes</button>
<div class="content">
    <p>
        Colorado Avalanche 4, Arizona Coyotes 1 (Colorado Leads 1-0)<br>
        Colorado Avalanche 4, Arizona Coyotes 3 OT (Colorado Leads 2-0)<br>
        Colorado Avalanche 3, Arizona Coyotes 2 2OT (Colorado Leads 3-0)<br>
        Colorado Avalanche 5, Arizona Coyotes 2 (Colorado Wins 4-0)
    </p>
</div>
<button class="collapsible">8 Nashville Predators vs 9 Vegas Golden
    Knights</button>
<div class="content">
    <p>
        Vegas Golden Knights 2, Nashville Predators 1 OT (Vegas Leads 1-0)<br>
        Vegas Golden Knights 5, Nashville Predators 0 (Vegas Leads 2-0)<br>
        Nashville Predators 1, Vegas Golden Knights 0 (Vegas Leads 2-1)<br>
        Vegas Golden Knights 7, Nashville Predators 6 OT (Vegas Leads 3-1)<br>
        Nashville Predators 6, Vegas Golden Knights 1 (Vegas Leads 3-2)<br>
        Nashville Predators 3, Vegas Golden Knights 2 (Series Tied 3-3)<br>
        Nashville Predators 5, Vegas Golden Knights 0 (Nashville wins 4-3)
    </p>
</div>
<button class="collapsible">5 Edmonton Oilers vs 12 San Jose Sharks</button>
<div class="content">
    <p> San Jose Sharks 5, Edmonton Oilers 4 OT (San Jose leads 1-0) <br>
        Edmonton Oilers 2, San Jose Sharks 0 (Series tied 1-1) <br>
        Edmonton Oilers 3, San Jose Sharks 0 (Edmonton leads 2-1) <br>
        Edmonton Oilers 4, San Jose Sharks 2 (Edmonton leads 3-1) <br>
        Edmonton Oilers 10, San Jose Sharks 7 (Edmonton wins 4-1)
    </p>
</div>
<button class="collapsible">4 St. Louis Blues vs 13 Anaheim Ducks</button>
<div class="content">
    <p> Anaheim Ducks 3, St. Louis Blues 2 (Anaheim leads 1-0) <br>
        St. Louis Blues 4, Anaheim Ducks 3 (Series tied 1-1)<br>
        Anaheim Ducks 3, St. Louis Blues 2 (Anaheim leads 2-1)<br>
        St. Louis Blues 3, Anaheim Ducks 2 (Series tied 2-2)<br>
        St. Louis Blues 8, Anaheim Ducks 1 (St. Louis leads 3-2)<br>
        St. Louis Blues 5, Anaheim Ducks 1 (St. Louis wins 4-2)
    </p>
</div>
<button class="collapsible">6 Los Angeles Kings vs 11 Winnipeg Jets</button>
<div class="content">
    <p> Los Angeles Kings 2, Winnipeg Jets 1 (Los Angeles leads 1-0)<br>
        Los Angeles Kings 7, Winnipeg Jets 0 (Los Angeles leads 2-0)<br>
        Winnipeg Jets 4, Los Angeles Kings 3 OT (Los Angeles leads 2-1)<br>
        Los Angeles Kings 2, Winnipeg Jets 1 (Los Angeles leads 3-1)<br>
        Winnipeg Jets 4, Los Angeles Kings 3 OT (Los Angeles leads 3-2)<br>
        Los Angeles Kings 5, Winnipeg Jets 2 (Los Angeles wins 4-2)
    </p>
</div>
<button class="collapsible">3 Calgary Flames vs 14 Chicago Blackhawks</button>
<div class="content">
    <p> Calgary Flames 2, Chicago Blackhawks 0 (Calgary leads 1-0)<br>
        Calgary Flames 4, Chicago Blackhawks 2 (Calgary leads 2-0)<br>
        Calgary Flames 5, Chicago Blackhawks 1 (Calgary leads 3-0)<br>
        Calgary Flames 9, Chicago Blackhawks 1 (Calgary wins 4-0)
    </p>
</div>
<button class="collapsible">7 Dallas Stars vs 10 Vancouver Canucks</button>
<div class="content">
    <p> Vancouver Canucks 2, Dallas Stars 1 (Vancouver leads 1-0)<br>
        Vancouver Canucks 4, Dallas Stars 2 (Vancouver leads 2-0)<br>
        Vancouver Canucks 6, Dallas Stars 1 (Vancouver leads 3-0)<br>
        Dallas Stars 2, Vancouver Canucks 0 (Vancouver leads 3-1)<br>
        Dallas Stars 4, Vancouver Canucks 3 OT (Vancouver leads 3-2)<br>
        Dallas Stars 4, Vancouver Canucks 2 (Series tied 3-3)<br>
        Dallas Stars 5, Vancouver Canucks 4 OT (Dallas wins 4-3)
    </p>
</div>
<button class="collapsible">2 Minnesota Wild vs 15 Seattle Kraken</button>
<div class="content">
    <p> Seattle Kraken 4, Minnesota Wild 3 (Seattle leads 1-0)<br>
        Seattle Kraken 7, Minnesota Wild 2 (Seattle leads 2-0)<br>
        Minnesota Wild 8, Seattle Kraken 3 (Seattle leads 2-1)<br>
        Minnesota Wild 2, Seattle Kraken 0 (Series tied 2-2)<br>
        Minnesota Wild 4, Seattle Kraken 2 (Minnesota leads 3-2)<br>
        Seattle Kraken 4, Minnesota Wild 3 (Series tied 3-3)<br>
        Seattle Kraken 3, Minnesota Wild 0 (Seattle wins 4-3)
    </p>
</div>
<div class="header">
    <span>Eastern Conference Round 1</span>
</div>
<button class="collapsible">1 Florida Panthers vs 16 Montreal Canadiens</button>
<div class="content">
    <p> Florida Panthers 3, Montreal Canadiens 2 OT (Florida leads 1-0)<br>
        Florida Panthers 4, Montreal Canadiens 3 2OT (Florida leads 2-0)<br>
        Florida Panthers 5, Montreal Canadiens 3 (Florida leads 3-0)<br>
        Florida Panthers 3, Montreal Canadiens 1 (Florida wins 4-0)
    </p>
</div>
<button class="collapsible">8 Washington Capitals vs 9 New York Islanders</button>
<div class="content">
    <p> Washington Capitals 3, New York Islanders 1 (Washington leads 1-0)<br>
        New York Islanders 3, Washington Capitals 0 (Series tied 1-1)<br>
        New York Islanders 6, Washington Capitals 3 (New York leads 2-1)<br>
        Washington Capitals 5, New York Islanders 2 (Series tied 2-2)<br>
        New York Islanders 5, Washington Capitals 4 OT (New York leads 3-2)<br>
        Washington Capitals 5, New York Islanders 0 (Series tied 3-3)<br>
        New York Islanders 6, Washington Capitals 4 (New York wins 4-3)
    </p>
</div>
<button class="collapsible">5 Tampa Bay Lightning vs 12 Detroit Red Wings</button>
<div class="content">
    <p> Tampa Bay Lightning 6, Detroit Red Wings 3 (Tampa Bay leads 1-0)<br>
        Tampa Bay Lightning 7, Detroit Red Wings 1 (Tampa Bay leads 2-0)<br>
        Detroit Red Wings 1, Tampa Bay Lightning 0 (Tampa Bay leads 2-1)<br>
        Tampa Bay Lightning 5, Detroit Red Wings 0 (Tampa Bay leads 3-1)<br>
        Tampa Bay Lightning 7, Detroit Red Wings 2 (Tampa Bay wins 4-1)
    </p>
</div>
<button class="collapsible">4 New York Rangers vs 13 Ottawa Senators</button>
<div class="content">
    <p> New York Rangers 5, Ottawa Senators 4 OT (New York leads 1-0)<br>
        New York Rangers 2, Ottawa Senators 1 OT (New York leads 2-0)<br>
        Ottawa Senators 5, New York Rangers 4 (New York leads 2-1)<br>
        Ottawa Senators 6, New York Rangers 5 OT (Series tied 2-2)<br>
        New York Rangers 3, Ottawa Senators 2 OT (New York leads 3-2)<br>
        New York Rangers 7, Ottawa Senators 1 (New York wins 4-2)
    </p>
</div>
<button class="collapsible">6 Boston Bruins vs 11 Buffalo Sabres</button>
<div class="content">
    <p> Buffalo Sabres 5, Boston Bruins 0 (Buffalo leads 1-0)<br>
        Boston Bruins 3, Buffalo Sabres 0 (Series tied 1-1)<br>
        Buffalo Sabres 5, Boston Bruins 4 OT (Buffalo leads 2-1)<br>
        Boston Bruins 7, Buffalo Sabres 1 (Series tied 2-2)<br>
        Boston Bruins 6, Buffalo Sabres 1 (Boston leads 3-2)<br>
        Buffalo Sabres 4, Boston Bruins 3 (Series tied 3-3)<br>
        Boston Bruins 3, Buffalo Sabres 1 (Boston wins 4-3)
    </p>
</div>
<button class="collapsible">3 Toronto Maple Leafs vs 14 New Jersey Devils</button>
<div class="content">
    <p> Toronto Maple Leafs 5, New Jersey Devils 3 (Toronto leads 1-0)<br>
        Toronto Maple Leafs 3, New Jersey Devils 1 (Toronto leads 2-0)<br>
        Toronto Maple Leafs 5, New Jersey Devils 4 (Toronto leads 3-0)<br>
        Toronto Maple Leafs 2, New Jersey Devils 1 OT (Toronto wins 4-0)
    </p>
</div>
<button class="collapsible">7 Pittsburgh Penguins vs 10 Columbus Blue Jackets</button>
<div class="content">
    <p> Pittsburgh Penguins 4, Columbus Blue Jackets 1 (Pittsburgh leads 1-0)<br>
        Columbus Blue Jackets 1, Pittsburgh Penguins 0 OT (Series tied 1-1)<br>
        Columbus Blue Jackets 5, Pittsburgh Penguins 4 OT (Columbus leads 2-1)<br>
        Pittsburgh Penguins 5, Columbus Blue Jackets 1 (Series tied 2-2)<br>
        Pittsburgh Penguins 5, Columbus Blue Jackets 2 (Pittsburgh leads 3-2)<br>
        Pittsburgh Penguins 5, Columbus Blue Jackets 4 (Pittsburgh wins 4-2)
    </p>
</div>
<button class="collapsible">2 Carolina Hurricanes vs 15 Philadelphia Flyers</button>
<div class="content">
    <p> Philadelphia Flyers 5, Carolina Hurricanes 1 (Philadelphia leads 1-0)<br>
        Philadelphia Flyers 5, Carolina Hurricanes 1 (Philadelphia leads 2-0)<br>
        Carolina Hurricanes 2, Philadelphia Flyers 1 (Philadelphia leads 2-1)<br>
        Philadelphia Flyers 3, Carolina Hurricanes 2 OT (Philadelphia leads 3-1)<br>
        Philadelphia Flyers 4, Carolina Hurricanes 3 OT (Philadelphia wins 4-1)
    </p>
</div>
<div class="header">
    <span>Western Conference Round 2</span>
</div>
<button class="collapsible">1 Colorado Avalanche vs 8 Nashville Predators</button>
<div class="content">
    <p> Colorado Avalanche 3, Nashville Predators 2 OT (Colorado leads 1-0)<br>
        Colorado Avalanche 4, Nashville Predators 0 (Colorado leads 2-0)<br>
        Colorado Avalanche 1, Nashville Predators 0 (Colorado leads 3-0)<br>
        Colorado Avalanche 3, Nashville Predators 1 (Colorado wins 4-0)
    </p>
</div>
<button class="collapsible">4 St. Louis Blues vs 5 Edmonton Oilers</button>
<div class="content">
    <p> Edmonton Oilers 4, St. Louis Blues 3 (Edmonton leads 1-0)<br>
        St. Louis Blues 8, Edmonton Oilers 3 (Series tied 1-1)<br>
        St. Louis Blues 3, Edmonton Oilers 2 2OT (St. Louis leads 2-1)<br>
        Edmonton Oilers 8, St. Louis Blues 4 (Series tied 2-2)<br>
        Edmonton Oilers 2, St. Louis Blues 1 OT (Edmonton leads 3-2)<br>
        St. Louis Blues 7, Edmonton Oilers 1 (Series tied 3-3)<br>
        Edmonton Oilers 5, St. Louis Blues 3 (Edmonton wins 4-3)
    </p>
</div>
<button class="collapsible">3 Calgary Flames vs 6 Los Angeles Kings</button>
<div class="content">
    <p> Calgary Flames 4, Los Angeles Kings 2 (Cgy leads 1-0)<br>
        Los Angeles Kings 3, Calgary Flames 2 2OT (Series tied 1-1)<br>
        Los Angeles Kings 8, Calgary Flames 0 (LA leads 2-1)<br>
        Los Angeles Kings 6, Calgary Flames 5 (LA leads 3-1)<br>
        Los Angeles Kings 3, Calgary Flames 1 (LA wins 4-1)
    </p>
</div>
<button class="collapsible">7 Dallas Stars vs 15 Seattle Kraken</button>
<div class="content">
    <p> Seattle Kraken 7, Dallas Stars 3 (Seattle leads 1-0)<br>
        Seattle Kraken 4, Dallas Stars 3 (Seattle leads 2-0)<br>
        Dallas Stars 4, Seattle Kraken 1 (Seattle leads 2-1)<br>
        Dallas Stars 4, Seattle Kraken 3 OT (Series tied 2-2)<br>
        Dallas Stars 4, Seattle Kraken 3 OT (Dallas leads 3-2)<br>
        Seattle Kraken 5, Dallas Stars 2 (Series tied 3-3)<br>
        Dallas Stars 1, Seattle Kraken 0 OT (Dallas wins 4-3)
    </p>
</div>
<div class="header">
    <span>Eastern Conference Round 2</span>
</div>
<button class="collapsible">1 Florida Panthers vs 9 New York Islanders</button>
<div class="content">
    <p> New York Islanders 4, Florida Panthers 2 (New York leads 1-0)<br>
        Florida Panthers 2, New York Islanders 1 OT (Series tied 1-1)<br>
        New York Islanders 4, Florida Panthers 3 (New York leads 2-1)<br>
        Florida Panthers 6, New York Islanders 1 (Series tied 2-2)<br>
        Florida Panthers 5, New York Islanders 3 (Florida leads 3-2)<br>
        Florida Panthers 6, New York Islanders 3 (Florida wins 4-2))
    </p>
</div>
<button class="collapsible">4 New York Rangers vs 5 Tampa Bay Lightning</button>
<div class="content">
    <p> Tampa Bay Lightning 2, New York Rangers 1 OT (Tampa Bay leads 1-0)<br>
        Tampa Bay Lightning 3, New York Rangers 1 (Tampa Bay leads 2-0)<br>
        Tampa Bay Lightning 6, New York Rangers 5 OT (Tampa Bay leads 3-0)<br>
        Tampa Bay Lightning 4, New York Rangers 1 (Tampa Bay wins 4-0)
    </p>
</div>
<button class="collapsible">3 Toronto Maple Leafs vs 6 Boston Bruins</button>
<div class="content">
    <p> Toronto Maple Leafs 3, Boston Bruins 2 (Toronto leads 1-0)<br>
        Boston Bruins 4, Toronto Maple Leafs 2 (Series tied 1-1)<br>
        Toronto Maple Leafs 5, Boston Bruins 2 (Toronto leads 2-1)<br>
        Boston Bruins 1, Toronto Maple Leafs 0 (Series tied 2-2)<br>
        Toronto Maple Leafs 4, Boston Bruins 3 (Toronto leads 3-2)<br>
        Boston Bruins 2, Toronto Maple Leafs 1 (Series tied 3-3)<br>
        Toronto Maple Leafs 6, Boston Bruins 5 OT (Toronto wins 4-3)
    </p>
</div>
<button class="collapsible">7 Pittsburgh Penguins vs 15 Philadelphia Flyers</button>
<div class="content">
    <p> Pittsburgh Penguins 6, Philadelphia Flyers 2 (Pittsburgh leads 1-0)<br>
        Pittsburgh Penguins 6, Philadelphia Flyers 1 (Pittsburgh leads 2-0)<br>
        Philadelphia Flyers 7, Pittsburgh Penguins 5 (Pittsburgh leads 2-1)<br>
        Philadelphia Flyers 4, Pittsburgh Penguins 1 (Series tied 2-2)<br>
        Pittsburgh Penguins 10, Philadelphia Flyers 0 (Pittsburgh leads 3-2)<br>
        Pittsburgh Penguins 5, Philadelphia Flyers 2 (Pittsburgh wins 4-2)
    </p>
</div>
<div class="header">
    <span>Western Semifinals</span>
</div>
<button class="collapsible">1 Colorado Avalanche vs 5 Edmonton Oilers</button>
<div class="content">
    <p> Colorado Avalanche 4, Edmonton Oilers 3 (Colorado leads 1-0)<br>
        Edmonton Oilers 2, Colorado Avalanche 1 (Series tied 1-1)<br>
        Colorado Avalanche 4, Edmonton Oilers 1 (Colorado leads 2-1)<br>
        Edmonton Oilers 4, Colorado Avalanche 3 OT (Series tied 2-2)<br>
        Edmonton Oilers 6, Colorado Avalanche 4 (Edmonton leads 3-2)<br>
        Colorado Avalanche 3, Edmonton Oilers 1 (Series tied 3-3)<br>
        Colorado Avalanche 3, Edmonton Oilers 2 OT (Colorado wins 4-3)
    </p>
</div>
<button class="collapsible">6 Los Angeles Kings vs 7 Dallas Stars</button>
<div class="content">
    <p> Los Angeles Kings 3, Dallas Stars 2 (Los Angeles leads 1-0)<br>
        Los Angeles Kings 2, Dallas Stars 1 (Los Angeles leads 2-0)<br>
        Los Angeles Kings 4, Dallas Stars 1 (Los Angeles leads 3-0)<br>
        Los Angeles Kings 4, Dallas Stars 3 (Los Angeles wins 4-0)
    </p>
</div>
<div class="header">
    <span>Eastern Semifinals</span>
</div>
<button class="collapsible">1 Florida Panthers vs 5 Tampa Bay Lightning</button>
<div class="content">
    <p> Tampa Bay Lightning 1, Florida Panthers 0 OT (Tampa Bay leads 1-0)<br>
        Tampa Bay Lightning 7, Florida Panthers 2 (Tampa Bay leads 2-0)<br>
        Tampa Bay Lightning 2, Florida Panthers 1 (Tampa Bay leads 3-0)<br>
        Tampa Bay Lightning 1, Florida Panthers 0 OT (Tampa Bay wins 4-0)
    </p>
</div>
<button class="collapsible">3 Toronto Maple Leafs vs 7 Pittsburgh Penguins</button>
<div class="content">
    <p> Pittsburgh Penguins 4, Toronto Maple Leafs 3 OT (Pittsburgh leads 1-0)<br>
        Pittsburgh Penguins 7, Toronto Maple Leafs 6 OT (Pittsburgh leads 2-0)<br>
        Pittsburgh Penguins 3, Toronto Maple Leafs 0 (Pittsburgh leads 3-0)<br>
        Pittsburgh Penguins 7, Toronto Maple Leafs 1 (Pittsburgh wins 4-0)
    </p>
</div>
<div class="header">
    <span>Western Conference Final</span>
</div>
<button class="collapsible">1 Colorado Avalanche vs 6 Los Angeles Kings</button>
<div class="content">
    <p> Colorado Avalanche 6, Los Angeles Kings 3 (Colorado leads 1-0)<br>
        Colorado Avalanche 4, Los Angeles Kings 1 (Colorado leads 2-0)<br>
        Colorado Avalanche 4, Los Angeles Kings 3 (Colorado leads 3-0)<br>
        Los Angeles Kings 4, Colorado Avalanche 3 (Colorado leads 3-1)<br>
        Los Angeles Kings 4, Colorado Avalanche 1 (Colorado leads 3-2)<br>
        Colorado Avalanche 5, Los Angeles Kings 1 (Colorado wins 4-2)
    </p>
</div>
<div class="header">
    <span>Eastern Conference Final</span>
</div>
<button class="collapsible">5 Tampa Bay Lightning vs 7 Pittsburgh Penguins</button>
<div class="content">
    <p> Tampa Bay Lightning 5, Pittsburgh Penguins 2 (Tampa Bay leads 1-0)<br>
        Pittsburgh Penguins 4, Tampa Bay Lightning 3 (Series tied 1-1)<br>
        Pittsburgh Penguins 5, Tampa Bay Lightning 2 (Pittsburgh leads 2-1)<br>
        Pittsburgh Penguins 5, Tampa Bay Lightning 4 OT (Pittsburgh leads 3-1)<br>
        Tampa Bay Lightning 7, Pittsburgh Penguins 1 (Pittsburgh leads 3-2)<br>
        Tampa Bay Lightning 7, Pittsburgh Penguins 1 (Series tied 3-3)<br>
        Tampa Bay Lightning 4, Pittsburgh Penguins 3 OT (Tampa Bay wins 4-3)
    </p>
</div>
<div class="header">
    <span>Stanley Cup Final</span>
</div>
<button class="collapsible">1 Colorado Avalanche vs 5 Tampa Bay Lightning</button>
<div class="content">
    <p> Tampa Bay Lightning 3, Colorado Avalanche 0 (Tampa Bay leads 1-0)<br>
        Colorado Avalanche 5, Tampa Bay Lightning 1 (Series tied 1-1)<br>
        Colorado Avalanche 4, Tampa Bay Lightning 2 (Colorado leads 2-1)<br>
        Colorado Avalanche 7, Tampa Bay Lightning 3 (Colorado leads 3-1)<br>
        Colorado Avalanche 4, Tampa Bay Lightning 3 OT (Colorado wins 4-1)
    </p>
</div>


<script type="text/javascript" th:src="@{/scores.js}"></script>
</body>
</html>